.centered {
  text-align: center;
  position: absolute;
  top: calc(50% - 2rem);
  width: 100%;

  p {
    margin: 0  0 .5rem;
    color: $light-text-color;
  }

  .get-clients {
    color: $text-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.search-box {
  .client-search {
    padding: 10px;
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid $border-color;
    color: $text-color;
  }


  .input-icon {
    position: absolute;
    top: 3px;
    right: 12px;
    font-size: 20px;
    font-style: normal;
    color: $light-text-color;
    cursor: pointer;

    &.simple {
      cursor: default;
    }

    &:hover {
      color: $text-color;
    }

    .search-icon {
      margin-top: 5px;
    }
  }
}

.clients-list > div {
  height: 100%;
}

.list-of-clients {
  height: calc(100% - 36px);
  overflow: auto;

  .empty {
    text-align: center;
    color: $light-text-color;
  }

  .client-item {
    min-height: 75px;
    padding: .1px;
    border-bottom: 1px solid $border-color;
    cursor: pointer;

    &:hover {
      background: #fafafa;
    }

    &::after {
      display: block;
      clear: both;
    }

    &.choosed {
      background: #f8f8f8;
    }

    &.focused {
      background: #fafafa;
    }
  }

  .photo-box {
    width: 30%;
    height: 100%;
    float: left;

    .small-avatar {
      height: 50px;
      border-radius: 50%;
      display: block;
      margin: 12.5px auto;
    }
  }

  .text-box {
    width: 70%;
    float: left;
    color: $text-color;

    .client-name {
      margin-bottom: .5rem;
    }

    .job-title, {
      font-size: .8rem;
      color: $light-text-color;
      margin: 0;
    }
  }

  .matches {
    background: $yellow;
  }

  .search-result {
    color: $text-color;
    font-size: .8rem;
    margin: 0;
    
    .in-field {
      color: $light-text-color;
    }
  }
}

.error {
  color: $error-text-color;
}